//
// PANEL CATEGORY/TOPIC
//

.category > ul { margin-top:20px; }
.category > hr { margin-top:0; margin-bottom:15px; }

.category > ul > li {
	border:none;
	background:@ro-panel-bg;
}

[component="category/topic"].ro-panel-category {
	display: flex;
	flex-flow:column nowrap;
	align-items: stretch;
	padding: 15px;
	border-bottom:1px solid @body-bg;
	transition:none;

	@media (max-width: @screen-sm-max) {
		align-items: stretch;
	}

	> .ro-bar {
		display: flex;
		flex:1 1 auto;
		flex-flow: row nowrap;
		align-items:flex-start;

		@media (max-width: @screen-sm-max) {
//			border-radius:@ro-border-radius @ro-border-radius 0 0;
		}
	}

	> .ro-box {
		display: flex;
		flex:1 1 auto;
		flex-flow: row nowrap;
		align-items: flex-start;
		position:relative;
		margin:0;
//		border-top:2px solid;

		@media (max-width: @screen-sm-max) {
//			margin:5px 0 0 47px;
		}

		@media (max-width: @screen-xs-max) {
//			margin:0 0 0 45px;
		}
	}

	@media (max-width: @screen-sm-max) {
		flex-flow:column nowrap;
	}
}



[component="category/topic"].ro-panel-category > .ro-bar {
	> .ro-icon {
		flex:0 0 auto;
		display:block;
		margin: 0 @ro-padding @ro-padding 0;
		position: relative;
//		align-self:flex-start;


		> .ro-user-icon {
			display:block;
			width: 36px;
			height: 36px;
			line-height: 36px;
			font-size: 18px;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			box-shadow:0 1px 3px 0 #92989c;

			@media (max-width: @screen-sm-max) {
//				width: 32px;
//				height: 32px;
//				line-height: 32px;
//				font-size: 16px;
			}

			@media (max-width: @screen-xs-max) {
			}
		}

		&:before {
			display:none;
//			.ro-arrow(right,10px,topright,50%,-15px,#fff);
//			margin-top:-10px;
		}
	}

	> .ro-head {
		display: flex;
		flex:1 1 0px;
		flex-flow:column nowrap;
		align-items:stretch;
//		margin-bottom:15px;
		border-radius:@ro-border-radius;
//		padding: @ro-padding 10px 0 @ro-padding;


		> .ro-splitblock {
			display:flex;
			flex-flow:row nowrap;
			align-items:center;

			> * {
				margin:0 @ro-padding @ro-padding 0;
			}

			.ro-stats { margin: 0;

				> .stats {
					display:flex;
					flex-flow:column nowrap;
					flex:0 0 auto;
					text-align:center;

					> span {
					}

					> small {
						text-transform: uppercase;
						color: #777;
					}
				}


			}


			> *:first-child {
				flex:1 1 auto;
			}

			> *:last-child {
				flex:0 0 auto;
			}
		}

		.ro-posted-by { font-weight:300; }

		.ro-stats {
			display:flex;
			flex:0 0 auto;
			flex-flow:row nowrap;
			justify-content:flex-start;

			> * {
				margin:0 @ro-padding @ro-padding 0;
			}

			> .stats {
				display:flex;
				flex-flow:column nowrap;
				flex:0 0 auto;
				font-size:14px;
				line-height:16px;

				> * { display:inline-block; }

				> span {
//					margin-right:4px;
				}

				@media (max-width: @screen-sm-max) {
					&.views,  &.votes { display:none; }
				}
			}
		}


		> .ro-splitblock > .ro-title {
//			display:flex;
//			flex:1 1 auto;
//			flex-flow:column nowrap;
//			padding: 0 @ro-padding;

			> div > a { font-size:16px; }

			> .ro-category-link {
				font-weight:300;
			}

			@media (max-width: @screen-xs-max) {
			}


			@media (max-width: @screen-xs-max) {
			}


//			> * { margin:0 @ro-padding @ro-padding 0; }

			> .tag-list { font-weight: 300; }
		}

		@media (max-width: @screen-xs-max) {

		}

		@media (max-width: 360px) {
			flex-flow:column nowrap;
		}


	}
}



[component="category/topic"].ro-panel-category > .ro-box {

	> .ro-teaser.no-reply {
		display :none;
	}

	> .ro-icon {
		margin: 10px 23px 0 8px;
		position:relative;

//		@media (max-width: @screen-sm-max) { margin:@ro-padding-sm 15px 0 0; }

		&:before {
					.ro-arrow(right,10px,topright,50%,-23px,@ro-bubble-bg);
					margin-top:-10px;
		}

		> .ro-user-icon {
			display:inline-block;
			color: #fff;
			border-radius:50%;
			height: 20px;
			width:20px;
			line-height:20px;
			text-align:center;
			font-size:10px;
		}
	}

	> .ro-block {
		display:flex;
		flex-flow:column nowrap;
		background:@ro-bubble-bg;
		border-radius: @ro-border-radius;
		flex:1 1 auto;


		> .ro-toggle-btn {
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;
			flex: 1  1 auto;
			justify-content: flex-start;


			> .ro-permalink {
				margin:@ro-padding-sm 0 @ro-padding-sm @ro-padding;
				font-size:85%;
				font-weight:300;
			}

			> .toggle {
				text-align:right;
				padding:@ro-padding-sm @ro-padding;
				flex:1 0 auto;

				> span {
					display:inline-block;
					color: #1976d2;
					padding-right: 4px;
					font-size: 80%;
					text-transform: uppercase;
					cursor:pointer;

					&:last-child { display:none; }
				}

				&:after {
					font: normal normal normal 14px/1 FontAwesome;
					content: "\f107";
					font-size: 16px;
					color: #1976d2;
					cursor:pointer;
				}

				&.open {
					&:after {
						content: "\f106";
					}

					> span {
						display:none;
						&:last-child { display: inline-block; }
					}
				}
			}

			@media (min-width: @screen-md) {
				> .toggle { display:none; }
			}
		}

		> .ro-teaser {
			line-height:normal;
			flex: 1 1 auto;
			position:relative;
			height:0;
			overflow:hidden;

			> * {
				margin: 0;
				padding: 0;
			}

			> .post-content {
				padding: 0 @ro-padding @ro-padding @ro-padding;
				font-size:85%;
			}

			@media (max-width: @screen-sm-max) {
	//			border-radius:0 0 @ro-border-radius @ro-border-radius;
			}

			@media (min-width: @screen-md) {
				height:auto !important;
			}
		}
	}

}



//
// SELECT
//
[component="category/topic"].ro-panel-category {
	.select {
		.fa-check {
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			width: 36px;
			height: 36px;
			padding:0;
			font-size: 18px;
			line-height: 36px;
			text-align:center;
			opacity: 0;
			border: 1px solid #1976d2;
			color: #1976d2;
			background:#fff;

			@media (max-width: @screen-sm-max) {
//				width: 32px;
//				height: 32px;
//				line-height: 32px;
//				font-size: 16px;
			}

			@media (max-width: @screen-xs-max) {
			}
		}

		.fa-check, .ro-user-icon {
			transition: none;
		}

		&:hover .fa-check {
			opacity:1;
		}
	}
}



//
// SELECTED
//
[component="category/topic"].ro-panel-category.selected {
	background: #e6fce3;

	> .ro-bar {
		> .ro-head {
//			background: #e6fce3;
//			.tag { background:#d0e5cf; }
		}
	}

	> .ro-box {
		> .ro-icon:before { border-right-color:#dbf0d8; }

		> .ro-block {
			background:#dbf0d8;
//			&:before { border-right-color:#dbf0d8; }
			@media (max-width: @screen-sm-max) {
				&:before {
//					border-right-color:transparent;
//					border-bottom-color:#dbf0d8;
				}
			}
		}
	}

	.select {
		.ro-user-icon {
			opacity:0;
		}

		.fa-check {
			opacity: 1;
			border:1px solid #5cb85c;
			background:#fff;
			color: #5cb85c;
		}
	}
}





@media (max-width: @screen-md-max) {
	[component="category"] {
		> li:nth-of-type(1) {
			border-top-left-radius:@ro-border-radius;
			border-top-right-radius:@ro-border-radius;
		}

		> li:last-child	{
			border-bottom-left-radius:@ro-border-radius;
			border-bottom-right-radius:@ro-border-radius;
		}
	}
}

@media (min-width: @screen-lg) {
	[component="category"] {
		display:flex;
		flex-flow:row wrap;
		border-left:1px solid @body-bg;
		border-top:1px solid @body-bg;


		> [component="category/topic"].ro-panel-category {
			flex:1 1 40%;
			border-right:1px solid @body-bg;

			&:last-child { max-width: 50%; }
		}
	}

	[component="category"] {
		> li:nth-of-type(1) {
			border-top-left-radius:@ro-border-radius;

			&:nth-last-child(1) { border-top-right-radius:@ro-border-radius; }
		}

		> li:nth-of-type(2) {
			border-top-right-radius:@ro-border-radius;
		}


		> li:nth-last-child(1) {
			&:nth-of-type(odd) {
				border-bottom-left-radius:@ro-border-radius;
				border-bottom-right-radius:@ro-border-radius;
			}
			&:nth-of-type(even) {
				border-bottom-left-radius:0;
				border-bottom-right-radius:@ro-border-radius;
			}
		}

		> li:nth-last-child(2) {
			&:nth-of-type(odd) { border-bottom-left-radius: @ro-border-radius; }
			&:nth-of-type(even) { border-bottom-right-radius:@ro-border-radius; }
		}
	}
}
