ul.categories, ul.topic-list, ul.posts { padding:0; }
ul.categories > li, ul.topic-list > li, ul.posts > li { list-style:none; }
.categories-title, .categories > p, .category > p, .subcategory > p {
	text-transform: uppercase;
	color: #777;
	margin: 0 0 10px;
	font-size: 14px;
	font-weight: 400;
}

.topic-title {
	margin: 0 0 10px;
	font-size:28px;
}


//
// PANEL CATEGORIES/CATEGORY
//
[component="categories/category"].ro-panel-category-item {
	display: flex;
	flex-flow:column nowrap;
	align-items: stretch;
	padding:0;
	border-bottom:1px solid @body-bg;
	background:@ro-panel-bg;
	overflow:hidden;

	> .ro-bar {
		display: flex;
		flex:0 1 auto;
		flex-flow: row nowrap;
		border-radius: @ro-border-radius @ro-border-radius 0 0;
		align-items:stretch;
		padding:15px;
	}

	> .ro-box {
		display: flex;
		flex:0 0 auto;
		flex-flow: column nowrap;
		align-items: stretch;
		position:relative;
		border-radius: 0 0 @ro-border-radius @ro-border-radius;
		margin:10px;
	}
}



[component="categories/category"].ro-panel-category-item > .ro-bar {
	> .ro-icon {
		color: #fff;
		border-radius:50%;
		height: 40px;
		width:40px;
		line-height:40px;
		text-align:center;
		font-size:20px;
		margin: 0 @ro-padding 0 0;
		position:relative;
		flex:0 0 auto;
	}

	> .ro-head {
		display:flex;
		flex-flow:row nowrap;
		flex: 1 1 0px;

		> .ro-title {
			margin: 0 @ro-padding 0 0;
			flex: 1 1 auto;

			> h2 {
				margin: 0;
				font-size:18px;
			}

			> .ro-description {
				color:#777;
				font-size:12px;

				> *:last-child {
					margin:0;
				}
			}
		}

		> .ro-stats {
			display:flex;
			flex:0 0 auto;
			flex-flow:row nowrap;

			> * {
				margin:0;
			}

			> *:last-child { display:none; }
		}

		@media (max-width: 360px) {
			flex-flow:column nowrap;

			> .ro-stats > .stats {
				flex-flow:row nowrap;

				> span {
					margin-right:4px;
				}
			}
		}
	}
}



[component="categories/category"].ro-panel-category-item > .ro-box {
	> .ro-card  {
		display:flex;
		flex-flow:row nowrap;
		align-items:flex-start;

		.ro-icon {
			margin: 0 15px 0 0;

			> .ro-user-icon {
				display:inline-block;
				color: #fff;
				border-radius:50%;
				height: 22px;
				width:22px;
				line-height:22px;
				text-align:center;
				font-size:11px;
			}
		}
	}


	> .ro-card.no-reply [component="category/posts"] {
			display:none;
	}



	> .ro-card > [component="category/posts"] {
		display:flex;
		flex-flow:column nowrap;
		flex:1 1 auto;
		background: @ro-bubble-bg;
		border-radius:@ro-border-radius;

		> .ro-toggle-btn {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			position:relative;
			&:before {.ro-arrow(bottom,10px,topleft,-20px,60px,@ro-bubble-bg); }



			> .ro-push {
				margin:@ro-padding-sm  0 @ro-padding-sm @ro-padding;
				line-height:24px;
				flex:0 1 auto;
				font-weight:300;
				display:flex;
				flex-flow:row wrap;
			}

			> .toggle {
				text-align:right;
				line-height:24px;
				padding:@ro-padding-sm @ro-padding;
				flex:1 0 auto;

				> span {
					display:inline-block;
					color: @brand-primary;
					padding-right: 4px;
					font-size: 12px;
					text-transform: uppercase;
					cursor:pointer;

					&:last-child { display:none; }
				}

				&:after {
					font: normal normal normal 14px/1 FontAwesome;
					content: "\f107";
					font-size: 16px;
					color: @brand-primary;
					cursor:pointer;
				}

				&.open {
					&:after {
						content: "\f106";
					}

					> span {
						display:none;
						&:last-child { display: inline-block; }
					}
				}
			}
		}

		> .post-content {
			display: none;
			overflow:hidden;
			> *:first-of-type {
				padding: 0 @ro-padding @ro-padding @ro-padding;
				margin:0;
				font-weight:400;
				font-size:90%;

				> * { margin:0; }
			}
		}

		> .ro-teaser {
			height: 0;
			overflow:hidden;
			padding:0;
			line-height:normal;

			> * {
				margin: 0;
				padding: 0;
			}

		}


		@media (min-width: @screen-md) {
			> .post-content {
				height:auto !important;
				display:block !important;
			}

			> .ro-toggle-btn > .toggle {
				display:none;
			}
		}

	}

}



@media (max-width: @screen-md-max) {
	.categories {
		> li:nth-of-type(1) {
			border-top-left-radius:@ro-border-radius;
			border-top-right-radius:@ro-border-radius;
		}

		> li:last-child	{
			border-bottom-left-radius:@ro-border-radius;
			border-bottom-right-radius:@ro-border-radius;
		}
	}
}

@media (min-width: @screen-lg) {
	.categories {
		display:flex;
		flex-flow:row wrap;
		border-left:1px solid @body-bg;
		border-top:1px solid @body-bg;

		> [component="categories/category"].ro-panel-category-item {
			border-right:1px solid @body-bg;
			flex:1 1 40%;

			&:last-child { max-width: 50%; }
		}
	}

	.categories {
		> li:nth-of-type(1) {
			border-top-left-radius:@ro-border-radius;

			&:nth-last-child(1) { border-top-right-radius:@ro-border-radius; }
		}

		> li:nth-of-type(2) {
			border-top-right-radius:@ro-border-radius;
		}


		> li:nth-last-child(1) {
			&:nth-of-type(odd) {
				border-bottom-left-radius:@ro-border-radius;
				border-bottom-right-radius:@ro-border-radius;
			}
			&:nth-of-type(even) {
				border-bottom-left-radius:0;
				border-bottom-right-radius:@ro-border-radius;
			}
		}

		> li:nth-last-child(2) {
			&:nth-of-type(odd) { border-bottom-left-radius: @ro-border-radius; }
			&:nth-of-type(even) { border-bottom-right-radius:@ro-border-radius; }
		}
	}
}
