//
// PANEL CATEGORIES/CATEGORY
//
[component="categories/category"].ro-panel-category-item {
	display: flex;
	flex-flow:column nowrap;
	align-items: stretch;
	margin-bottom: @ro-spacing;
	padding: 0;

	> .ro-bar {
		display: flex;
		flex:1 1 auto;
		flex-flow: row nowrap;
		border-radius: @ro-border-radius @ro-border-radius 0 0;
		padding: @ro-padding 0 7px @ro-padding;
		background: #fff;
		align-items:stretch;
	}

	> .ro-box {
		display: flex;
		flex:0 0 auto;
		flex-flow: column nowrap;
		align-items: stretch;
		position:relative;
		background:@ro-bar-color;
		border-radius: 0 0 @ro-border-radius @ro-border-radius;
		margin-left:0;
		border-top:2px solid;
	}
}



[component="categories/category"].ro-panel-category-item > .ro-bar {
	> .ro-icon {
		color: #fff;
		border-radius:50%;
		height: 50px;
		width:50px;
		line-height:50px;
		text-align:center;
		font-size:25px;
		margin: 0 @ro-padding @ro-padding 0;
		position:relative;
		flex:0 0 auto;
	}

	> .ro-head {
		display:flex;
		flex-flow:row nowrap;
		flex: 1 1 0px;

		> .ro-title {
			margin: 0 @ro-padding @ro-padding 0;
			flex: 1 1 auto;
			
			> h2 {
				margin: 0;
				font-size:20px;
			}
			
			> .ro-description {
				color:#777;
				font-size:12px;

				> *:last-child {
					margin:0;
				}
			}
		}
		
		> .ro-stats {
			display:flex;
			flex:0 0 auto;
			flex-flow:row nowrap;
			
			> * { 
				margin:0 @ro-padding @ro-padding 0;
			}
			
			> .stats {
				display:flex;
				flex-flow:column nowrap;
				flex:0 0 auto;
			}
		}

		@media (max-width: 360px) {
			flex-flow:column nowrap;

			> .ro-stats > .stats {
				flex-flow:row nowrap;
			
				> span {
					margin-right:4px;
				}
			}
		}
	}
}



[component="categories/category"].ro-panel-category-item > .ro-box {
	> .ro-toggle-btn {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		> .ro-icon {
			margin:@ro-padding;

			> .ro-user-icon {
				display:inline-block;
				color: #fff;
				border-radius:50%;
				height: 24px;
				width:24px;
				line-height:24px;
				text-align:center;
				font-size:12px;
			}
		}
		
		> .ro-push {
			margin:@ro-padding 0;
			line-height:24px;
			flex:0 1 auto;
		}
		
		> .toggle {
			text-align:right;
			line-height:24px;
			padding:@ro-padding;
			flex:1 0 auto;

			> span {
				display:inline-block;
				color: #1976d2;
				padding-right: 4px;
				font-size: 12px;
				text-transform: uppercase;
				cursor:pointer;

				&:last-child { display:none; }
			}

			&:after {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f107";
				font-size: 16px;
				color: #1976d2;			
				cursor:pointer;
			}

			&.open {
				&:after {
					content: "\f106";
				}
				
				> span {
					display:none;
					&:last-child { display: inline-block; }
				}
			}					
		}
	}

	> .ro-teaser {
		height: 0;
		overflow:hidden;
		padding:0;
		line-height:normal;
		
		> * {
			margin: 0;
			padding: 0;
		}
		
		> .post-content {
			padding: @ro-padding @ro-padding 0 @ro-padding;
		}

		&.no-reply {
			height:auto;

			> .post-content {
				padding:@ro-padding;
				line-height:24px;
			}
		}

	}

	@media (min-width: @screen-md) {
		> .ro-teaser {
			height:auto !important;
		}
		
		> .ro-toggle-btn > .toggle {
			display:none;
		}
	}
}



@media (min-width: @screen-md-max) {
	.categories {	
		display:flex;
		flex-flow:row wrap;
		
		> [component="categories/category"].ro-panel-category-item {
			flex:1 1 40%;
			margin:10px;
		}
	}
}
